<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<body>

<main>
    <div>
        <section>
            <h1>Calculator</h1>
        </section>

        <section>
            <article>
                <fieldset>
                    <legend><h3>Addition</h3></legend>

                    <button type="button" id="jsSubmitAddition">Send</button>
                    <input type="number" name="addition-addendA" id="jsAddA" min="0">
                    <small>+</small>
                    <input type="number" name="addition-addendB" id="jsAddB" min="0">
                    <small>=</small>
                    <small id="jsAddResult"></small>

                </fieldset>
            </article>

            <article>
                <fieldset>
                    <legend><h3>Subtraction</h3></legend>

                    <button type="button" id="jsSubmitSubtraction">Send</button>
                    <input type="number" name="subtraction-minuend" id="jsSubtractionA" min="0">
                    <small>-</small>
                    <input type="number" name="subtraction-subtrahend" id="jsSubtractionB" min="0">
                    <small>=</small>
                    <small id="jsSubtractionResult"></small>

                </fieldset>
            </article>

            <article>
                <fieldset>
                    <legend><h3>Multiplication</h3></legend>

                    <button type="button" id="jsSubmitMultiplication">Send</button>
                    <input type="number" name="multiplication-multiplier" id="jsMultiplierA" min="0">
                    <small>x</small>
                    <input type="number" name="multiplication-multiplicand" id="jsMultiplierB" min="0">
                    <small>=</small>
                    <small id="jsMultiplierResult"></small>

                </fieldset>
            </article>

            <article>
                <fieldset>
                    <legend><h3>Division</h3></legend>

                    <button type="button" id="jsSubmitDivision">Send</button>
                    <input type="number" name="division-dividend" id="jsDivisionA" min="0">
                    <small>/</small>
                    <input type="number" name="division-divisor" id="jsDivisionB" min="0">
                    <small>=</small>
                    <small id="jsDivisionResult"></small>
                </fieldset>
            </article>

        </section>

        <section>
            <h1>Api Result</h1>
        </section>

        <section>
            <article>
                <pre><code id="jsApiResult"></code></pre>
            </article>
        </section>

    </div>
</main>

</body>
<script th:src="@{/js/main.js}"></script>

</html>